* {
  transition: 0.5s;
}

.opaque-bg {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.image {
  height: 12em;
  max-width: unset !important;

  &:hover {
    cursor: pointer;
  }

  img {
    object-fit: cover;
    height: 100%;
  }

  .svg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;

    svg {
      stroke: white;
      width: 6rem;
      height: 6rem;
    }

    > div {
      height: 12em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.tilt-section-img {
  max-width: 12em !important;

  img {
    opacity: 0.3;
  }
  &:hover {
    img {
      opacity: 0.7;
    }

    svg {
      width: 8rem;
      height: 8rem;
    }
  }
}
